<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myself.dao.UserMapper">
	<resultMap id="BaseResultMap" type="User">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USERNAME" property="userName" jdbcType="VARCHAR" />
		<result column="passWord" property="passWord" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, userName, passWord
	</sql>
	
	<!-- 查询所有用户 -->
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
	</select>
	
	<!-- 增加用户 -->
	<insert id="insert" parameterType="com.myself.model.User" useGeneratedKeys="true" keyProperty="id">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id &gt;0">
				id,
			</if>
			<if test="userName !=null ">
				userName,
			</if>
			<if test="passWord !=null">
				passWord,
			</if>
		</trim>
		<!-- 动态添加数据 -->
		<trim prefix="value (" suffix=")" suffixOverrides=",">
			<if test="id != null and id &gt;0">
				#{id},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="passWord != null">
				#{passWord},
			</if>
		</trim>
	</insert>
	
	<!-- 修改用户 -->
	<update id="update" parameterType="com.myself.model.User">
		update user
		<set>
			<if test="userName != null">
				userName=#{userName},
			</if>
			<if test="passWord !=null">
				passWord=#{passWord},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="java.lang.Long">
		delete from user where
		id = #{id}
	</delete>
	
	<!-- 分页查询 -->
	<select id="searchPage" parameterType="com.myself.query.UserQuery" resultType="com.myself.query.UserQuery">
		select * from user where 1=1
		<include refid="whereSql"/> 
		limit #{start},#{size}
	</select>
	
	<!-- 总数 -->
	<select id="contBySearch" parameterType="com.myself.query.UserQuery" resultType="java.lang.Long">
		select count(*)
		from user where 1=1
		<include refid="whereSql"/>
	</select>
	
	<sql id="whereSql">
		<if test="userName != null and userName!=''">
				and userName = #{userName}
		</if>
		<if test="passWord !=null and passWord!=''">
			and passWord = #{password}
		</if>
	</sql>
	
</mapper>  